.paginationControls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.paginationButton {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: var(--primary-color);
  color: var(--text-primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.paginationButton:disabled {
  background-color: var(--secondary-color);
  color: var(--text-secondary-color);
  cursor: not-allowed;
}

.paginationButton:not(:disabled):hover {
  background-color: var(--accent-color);
}

.paginationInfo {
  font-size: 16px;
  color: var(--text-primary-color);
  margin: 0 10px;
}

/* Responsive Design */
@media (max-width: 600px) {
  .paginationControls {
    flex-direction: column;
  }

  .paginationButton {
    width: 100%;
    margin: 10px 0;
  }

  .paginationInfo {
    margin: 10px 0;
  }
}
