.contentWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

.resultsWrapper {
  width: 100%;
  height: 100%;
}

.searchPrompt {
  font-size: 1.5rem;
  color: var(--text-secondary-color);
  text-align: center;
  margin-top: 20px;
  font-style: italic;
  animation: fade-in 1.5s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
